:root{
  /* color btn and text */
  /* color cansel */
  --color-btn-cansel: #ffffff;
  --color-text-cansel: #979797;
/* color confirm */
  --color-btn-confirm: #3fb990;
  --color-text-confirm:#ffffff;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: hidden;
}

.popupInner {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    width: 380px;
    min-height: 250px;
    box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.15);
}

.popupInnerDelete {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    width: 380px;
    min-height: 0px;
    box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.15);
}

.popupOpen {
    display: flex;
}

.popupTitle {
    border-bottom: 1px solid #dedede;
    padding: 25px 0 10px 28px;
    font-family: Play;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 700;
}

.popupContent {
    margin: 0 37px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.popupFooter {
    /* margin: 20px; */
    display: flex;
    justify-content: center; 
    border-top: 1px solid #dedede;
    padding: 20px 0;
}

.PopupButtun{
  width: 105px;
  height: 36px;
  border-radius: 3px;
  font-size: 1em;
  font-family: Play;
  border: none;
  text-transform: uppercase;
  margin: 0 10px;
}


.PopupButtunConfirm{
  background-color: var(--color-btn-confirm);
  color: var(--color-text-confirm);
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.15);
}

.PopupButtunConfirm:hover{
    opacity: 0.8;
  }

.PopupButtunCansel{
  background-color: var(--color-btn-cansel);
  color: var(--color-text-cansel);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #dedede;
}

.PopupButtunCansel:hover{
    background-color: rgba(0, 0, 0, 0.07);
  }

.PopupButtunReject{
    background-color: #d32f2f;
    color: var(--color-text-confirm);
    box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.15);
}

.PopupButtunReject:hover{
    opacity: 0.8;
}

.PopupBar{
    width: 230px;
    height: 100px;
    border-radius: 3px;
    /* border: 1px solid #979797; */
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 16px;
    padding-left: 26px;
    position: relative;
}

.PopupBar::before{
    content: '';
    width: 17.1px;
    height: 17.1px;
    transform: rotate(45deg);
    background-color: #ffffff;
    position: absolute;
    top: 91px;
    right: 104px;
    border-radius: 3px;
    box-shadow:2px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.PopupBarFooter{
    display: flex;
    justify-content: flex-end; 
    /* padding: 10px 0; */
}

.PopupBarButtun{
    width: 135px;
     height: 31px;
  border-radius: 3px;
  font-size: 14px;
  font-family: Play;
  border: none;
  text-transform: uppercase;
  /* margin: 0 10px; */
  color: #b00020;
  background-color: #ffffff;
}

.PopupBarButtun:hover{
    background-color: rgba(0, 0, 0, 0.08);
}