
.code {
  color: #fff;
  max-height: 400px;
  padding: 20px;
  border-radius: 4px;
  /* box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.14); */
  width: 100%;
  padding: 0;
  margin: 0;
}

.codeContainer {
    height: 100%;
    overflow: auto;
    /* padding: 5px; */
    border-radius: 4px;
}
