.searchItem {
	background: #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
}

.searchItem a {
	text-decoration: none;
	color: #438cef;
}

.containerSearchItem:hover .textSearchItem{
	color: #979797;
}

.textSearchItem {
	font-size: 14px;
	color: #000000;
	line-height: 20px;
}