:root{
    --color-text:#2e3842;
}

.menuPopup {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 227px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
}

.menuPopupItem {
    display: flex;
    /* margin: 20px; */
    white-space: nowrap;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    align-items: center;
    justify-content: flex-start;
}
.menuPopupItem:hover{
    background-color: #dedede;
}

.menuPopupItem:first-child {
    display: flex;
    /* margin: 20px; */
    white-space: nowrap;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    align-items: center;
    justify-content: flex-start;
}


.menuPopupItem span {
    /* margin-left: 20px;
    padding-top: 20px; */
    padding-left: 20px;
    font-family: Play;
    color: var(--color-text);
    font-size: 0.875em;
}

.menuSeparator {
    width: 100%;
    border-bottom: 1px solid #dedede;
}

.menuIcon {
    height: 24px;
    width: 24px;
}

.menuIconEdit {
    background: url('./icons/edit.svg') center center;
}

.menuIconTranfer {
    background: url('./icons/account.svg') center center;
}

.menuIconResume {
    background: url('./icons/resume.svg') center center  no-repeat;
}

.menuIconPause {
    background: url('./icons/pause.svg') center center  no-repeat;
}

.menuIconDelete {
    background: url('./icons/delete.svg') center center  no-repeat;
}

.menuIconDeletePensil{
    background: url('./icons/pensil.svg') center center;
}
