:root{
  --hover-removeBtn:#eff3f6;
  --color-panelTitle:#7c7c7c;
  --color-lable-Btn:#438cef;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
}

.sideBar {
    width: 100%;
}

.content {
    width: 100%;
}

.fieldsTable {
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    padding: 30px;
    padding-top: 20px;
}

.fieldsTable th {
    font-weight: normal;
    text-transform: uppercase;
}

.fieldsTable input {
    width: 100%;
}

.fieldsTable tbody {
    border: 1px solid #dedede;
}

.fieldsTable td {
    padding: 10px 10px;
}
.fieldsTable th {
    padding: 5px 10px;
}

.fieldsTable th {
    text-align: left;
}


.panel {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
}

.panelTitle {
    padding: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    color: var(--color-panelTitle);
    font-size: 14px;
    font-weight: bold;
}

.panelContent {
    padding: 30px;
    padding-top: 0;
}

.label {
    display: flex;
    background: var(--color-lable-Btn);
    color: #fff;
    border-radius: 2px;
    padding: 5px 15px;
    margin-bottom: 13px;
    height: 38px;
    align-items: center;
    box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.15);
}


.createButton {
    text-transform: uppercase;
    background: var(--color-lable-Btn);
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.createButton:hover{
  opacity: 0.8;
}

.createButton[disabled] {
    opacity: 0.7;
    cursor: default;
}


.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}


.controlLabel {
    font-size: 14px;
    text-transform: uppercase;
}

.controlComponent {
    width: 155px;
}

.controlComponent input {
    width: 100%;
    padding: 6px 9px;
    box-sizing: border-box;
}


.pageTitle {
    font-size: 36px;
    line-height: 42px;
    color: var(--color-panelTitle);
    position: relative;
    padding-left: 40px;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.pageTitle::before {
    content: '';
    width: 39px;
    height: 2px;
    background: var(--color-panelTitle);
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(-65deg);
}

.removeButton {
    border: none;
    font-size: 70%;
    cursor: pointer;
    background: url(./shape.svg) no-repeat center;
    padding-left: 20px;
    padding-top: 20px;
    height: 14px;
    width: 14px;
}

.removeButton:hover{
  background-color: var(--hover-removeBtn);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.removeButton[disabled] {
    cursor: default;
}

.addButton {
    cursor: pointer;
    border: none;
    font-size: 70%;
    background: url(./ic-plus.svg) no-repeat left center;
    background-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    width: 14px;
    height: 14px;
}

.addButton[disabled] {
    cursor: default;
}


.errorMessage {
    background: red;
    margin-top: 10px;
    padding: 5px 15px;
    color: #fff;
    border-radius: 2px;
}


