.tx_view pre {box-shadow: 0 0 1px #ccc; padding: 5px; margin: 5px; }
.string { color: #e3e3e3; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #03bea6; }


.tx_view pre {
	overflow: hidden;
}
