
.btn-group{
    height: 32px !important;
    width: 32px !important;
    box-shadow: none !important;
    margin: 2vh 0 !important;
}

.btn-group-soul{
    background: url(./soul.svg) no-repeat center center !important;
}

.btn-group-soul:hover{
    background: url(./soul-focus.svg) no-repeat center center !important;
}
.btn-group-soul:focus{
    background: url(./soul-focus.svg) no-repeat center center !important;
}

.btn-group-body{
    background: url(./body.svg) no-repeat center center !important;
}

.btn-group-body:hover{
    background: url(./body-focus.svg) no-repeat center center !important;
}
.btn-group-body:focus{
    background: url(./body-focus.svg) no-repeat center center !important;
}


.btn-group-imortality{
    background: url(./imortality.svg) no-repeat center center !important;
}

.btn-group-imortality:hover{
    background: url(./imortality-focus.svg) no-repeat center center !important;
}
.btn-group-imortality:focus{
    background: url(./imortality-focus.svg) no-repeat center center !important;
}

.btn-group-security{
    background: url(./security.svg) no-repeat center center !important;
}

.btn-group-security:hover{
    background: url(./security-focus.svg) no-repeat center center !important;
}
.btn-group-security:focus{
    background: url(./security-focus.svg) no-repeat center center !important;
}

.btn-group-intelligence{
    background: url(./intelligence.svg) no-repeat center center !important;
}

.btn-group-intelligence:hover{
    background: url(./intelligence-focus.svg) no-repeat center center !important;
}
.btn-group-intelligence:focus{
    background: url(./intelligence-focus.svg) no-repeat center center !important;
}

.btn-group-root{
    background: url(./root.svg) no-repeat !important;
}

.btn-group-root:hover{
    background: url(./root-focus.svg) no-repeat center center !important;
}
.btn-group-root:focus{
    background: url(./root-focus.svg) no-repeat center center !important;
}

.btn-group-diplomat{
    background: url(./diplomat.svg) no-repeat center center !important;
}

.btn-group-diplomat:hover{
    background: url(./diplomat-focus.svg) no-repeat center center !important;
}
.btn-group-diplomat:focus{
    background: url(./diplomat-focus.svg) no-repeat center center !important;
}
.btn-group-map{
    background: url(./map.svg) no-repeat center center !important;
}

.btn-group-map:hover{
    background: url(./map-focus.svg) no-repeat center center !important;
}
.btn-group-map:focus{
    background: url(./map-focus.svg) no-repeat center center !important;
}

.btn-group-earth{
    background: url(./earth.svg) no-repeat center center !important;
}

.btn-group-earth:hover{
    background: url(./earth-focus.svg) no-repeat center center !important;
}
.btn-group-earth:focus{
    background: url(./earth-focus.svg) no-repeat center center !important;
}

.btn-group-heritage{
    background: url(./heritage.svg) no-repeat center center !important;
}

.btn-group-heritage:hover{
    background: url(./heritage-focus.svg) no-repeat center center !important;
}
.btn-group-heritage:focus{
    background: url(./heritage-focus.svg) no-repeat center center !important;
}

.btn-group-wiki{
    background: url(./wiki.svg) no-repeat center center !important;
}

.btn-group-wiki:hover{
    background: url(./wiki-focus.svg) no-repeat center center !important;
}
.btn-group-wiki:focus{
    background: url(./wiki-focus.svg) no-repeat center center !important;
}

.btn-group-oracul{
    background: url(./oracul.svg) no-repeat center center !important;
}

.btn-group-oracul:hover{
    background: url(./oracul-focus.svg) no-repeat center center !important;
}
.btn-group-oracul:focus{
    background: url(./oracul-focus.svg) no-repeat center center !important;
}
