
.btn-group{
    height: 32px !important;
    width: 32px !important;
    box-shadow: none !important;
}

.btn-group-soul{
    background: url(./soul.svg) no-repeat center center !important;
}

.btn-group-soul:hover{
    background: url(./soul-focus.svg) no-repeat center center !important;
}
.btn-group-soul.active-btn{
    background: url(./soul-focus.svg) no-repeat center center !important;
}

.btn-group-body{
    background: url(./body.svg) no-repeat center center !important;
}

.btn-group-body:hover{
    background: url(./body-focus.svg) no-repeat center center !important;
}
.btn-group-body.active-btn{
    background: url(./body-focus.svg) no-repeat center center !important;
}


.btn-group-imortality{
    background: url(./imortality.svg) no-repeat center center !important;
}

.btn-group-imortality:hover{
    background: url(./imortality-focus.svg) no-repeat center center !important;
}
.btn-group-imortality.active-btn{
    background: url(./imortality-focus.svg) no-repeat center center !important;
}

.btn-group-security{
    background: url(./security.svg) no-repeat center center !important;
}

.btn-group-security:hover{
    background: url(./security-focus.svg) no-repeat center center !important;
}
.btn-group-security.active-btn{
    background: url(./security-focus.svg) no-repeat center center !important;
}

.btn-group-intelligence{
    background: url(./intelligence.svg) no-repeat center center !important;
}

.btn-group-intelligence:hover{
    background: url(./intelligence-focus.svg) no-repeat center center !important;
}
.btn-group-intelligence.active-btn{
    background: url(./intelligence-focus.svg) no-repeat center center !important;
}

.btn-group-root{
    background: url(./root.svg) no-repeat !important;
}

.btn-group-root:hover{
    background: url(./root-focus.svg) no-repeat center center !important;
}
.btn-group-root.active-btn{
    background: url(./root-focus.svg) no-repeat center center !important;
}

.btn-group-diplomat{
    background: url(./diplomat.svg) no-repeat center center !important;
}

.btn-group-diplomat:hover{
    background: url(./diplomat-focus.svg) no-repeat center center !important;
}
.btn-group-diplomat.active-btn{
    background: url(./diplomat-focus.svg) no-repeat center center !important;
}
.btn-group-map{
    background: url(./map.svg) no-repeat center center !important;
}

.btn-group-map:hover{
    background: url(./map-focus.svg) no-repeat center center !important;
}
.btn-group-map.active-btn{
    background: url(./map-focus.svg) no-repeat center center !important;
}

.btn-group-earth{
    background: url(./earth.svg) no-repeat center center !important;
}

.btn-group-earth:hover{
    background: url(./earth-focus.svg) no-repeat center center !important;
}
.btn-group-earth.active-btn{
    background: url(./earth-focus.svg) no-repeat center center !important;
}

.btn-group-heritage{
    background: url(./heritage.svg) no-repeat center center !important;
}

.btn-group-heritage:hover{
    background: url(./heritage-focus.svg) no-repeat center center !important;
}
.btn-group-heritage.active-btn{
    background: url(./heritage-focus.svg) no-repeat center center !important;
}

.btn-group-wiki{
    background: url(./wiki.svg) no-repeat center center !important;
}

.btn-group-wiki:hover{
    background: url(./wiki-focus.svg) no-repeat center center !important;
}
.btn-group-wiki.active-btn{
    background: url(./wiki-focus.svg) no-repeat center center !important;
}

.btn-group-oracul{
    background: url(./oracul.svg) no-repeat center center !important;
}

.btn-group-oracul:hover{
    background: url(./oracul-focus.svg) no-repeat center center !important;
}
.btn-group-oracul.active-btn{
    background: url(./oracul-focus.svg) no-repeat center center !important;
}
