.formField {
  border-bottom: 1px solid #dedede;
  /* padding-left: 50px;
  padding-right: 20px; */
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 50px;
}


.foramLable {
  /* width: 230px; */
  width: 30%;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}


.foramValue {
  /* width: 300px; */
  font-size: 14px;
  color: #000000;
  /* flex-grow: 3; */
  width: 68%;

}

.foramValue input {
  border: 1px solid #438cef;
  padding: 6px 14px;
  box-sizing: border-box;
  font-size: 14px;
  /* width: 143px; */
  width: 100%;
  height: 25px;
  }

.buttonContainer {
  /* margin-left: auto; */
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  width: 15%;
}
