@import url('https://fonts.googleapis.com/css?family=Play');

:root {
    --slate-9:rgba(67, 90, 111, 0.09);
    --black: #000000;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Play', sans-serif !important;
}

html, body, #root {
	height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #272728;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #525254;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
  }

  .btn {
    /* background-image: none !important; */
    background-image:linear-gradient(to top, #181818, #000000) !important;
    box-shadow: 0 0 15px 0px #38d6ae !important;
    text-shadow: 0 0 40px #36d6ae !important;
    color: #36d6ae !important;
}

.btn:hover {
    /* background-image: none !important; */
    background-image:linear-gradient(to top, #181818, #000000) !important;
    box-shadow: 0 0 25px 0px #38d6ae !important;
}

.btn:active {
    box-shadow: 0 0 25px 0px #36d6ae !important;
    background-image: none !important;
    background-color: rgba(67, 90, 111, 0.09) !important;
}

/* .📦bs_17sc08g {
    box-shadow: 0 0 1px rgba(56, 214, 174, 0.7), 0 8px 10px -4px rgba(56, 214, 174, 0.7) !important;
} */

.btn-check:hover {
    opacity: 0.9;
}

.btn-check:active {
  transform: translateY(2px);
}

.opacityItems
{
    position: relative;
}

.opacityItems::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -114px;
    /* background: black; */
    /* opacity: 0.7; */
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 57%, var(--black));
}

.opacityItemsBefore{
    position: relative;
    box-shadow: -35px -20px 40px 13px #000;
}

.opacityItemsBefore::before {
    content: '';
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
    bottom: 100%;
    /* background: black; */
    opacity: 0.7;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 57%, var(--black));
}