.DarkPanel {
  background-color: #2e3842;
  border-radius: 4px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  height: 89%;
}

.ContainerDarkPanel {
  height: 100%;
}